<!DOCTYPE html>
%html
  %head
    %title
      Cornerseed
    
    / CSS
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/bootstrap.min.css'}

    / JS
    %script{:type => 'text/javascript', :src => 'js/bootstrap.min.js'}
  
  %body
    %h1
      Cornerseed